{% extends 'authentication/baseauth.html' %}
{% block title%}signup{% endblock title%}
{% block content %}


<br><br><br><br>

<div class="card bg-light p-4">

  {% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button typr="button" class="btn-close" data-bs-dismiss="alert"
  aria-label="Close"></button>
</div>
  {% endfor %}

  <h2 class="text-dark ">Sign Up<h2>


    <form action="/auth/signup/"method="post">{% csrf_token %}
      
      <label class="text-dark "for="name"><h6>UserName</h6></label>
      <div class="form-group">
        <input type="text"class="form-control"id="name"name="name" required>
      </div>
      </div>
      <label class="text-dark"for="email"><h6>Email</h6></label>
      <div class="form-group">
        <input type="email "class="form-control"id="email"name="email" required>
      </div>
      <label class="text-dark "for="pass1"><h6>Password</h6></label>
      <div class="form-group">
        <input type="password"class="form-control"id="pass1"name="pass1" required>
      </div>
      <label class="text-dark" for="pass2"><h6>Confirm Password</h6></label>
      <div class="form-group">
        <input type="password"class="form-control"id="pass2"name="pass2" required>
      </div>
      <br>
      
      <button type="submit"class="btn btn-dark">Sign Up</button>

      
      <h5 class="text-black p-0"> &nbsp &nbsp &nbspAlready User? <a href="/auth/login/"> Login &nbsp &nbsp &nbsp</a></h5>
      
    </form>

</div>


 {% endblock content %}