{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
<h2 class="about text-white">

<p>    Welcome to Faishonables, 
</p>

<p> where style meets sophistication! We are an online destination dedicated to providing fashion enthusiasts with a curated collection of trendy and timeless pieces.<br>

Our mission is to empower individuals to express their unique sense of style and embrace their inner fashionista.
</p>
</h2>
{% endblock content %}

{{% block body %}
<div class=" p-5 text-center bg-warning text-dark"> <h1>Faishnables</h1> <h6>  is </h6> <h2> Distinctive faishon <br> For the contemprary World 
<br><br>
  <h3 class="fw-lighter text-start">  
    At Faishonables, we believe that fashion is not just about following trends, but about embracing personal style and celebrating individuality. Whether you are a trendsetter, a classic dresser, or someone who loves experimenting with different looks, we have something for everyone.

  </h3>

</div>
<div class="col-md-2">  &nbsp</div>

<div class="col-lg-9 p-5 m-5"><h2>Shopping at Faishonables is a seamless and enjoyable experience.</h2><br>
     Our user-friendly website features intuitive navigation, detailed product descriptions, and high-resolution imagery, allowing you to explore our collection and make informed choices.<br><br> Our dedicated customer support team is always ready to assist you with any queries or concerns, ensuring that your shopping experience is nothing short of exceptional.
</div>
<div class="col-md-2">  &nbsp</div>

{% endblock body %}}